header{
	position: fixed;
	background-color: #9bd9ea;
	border: 2px solid black;
	width: 1500px;
	padding-top: 20px;
}
.section-header-1{
	display: inline-block;
	margin-left:200px;
	width: 300px;
}
.section-header-1 div{
	display: inline-block;
	font-weight: bolder;
	font-size: xx-large;
}
.section-header-2{
	display: inline-block;
	margin-left: 400px;
}
li{
	display: inline-block;
	border-right: 2px solid black;
	text-align: center;
	font-size: xx-large;
	padding-right: 20px;
	padding-left: 20px;
}
img{
	width: 15%
}
main{
	border: 2px solid black;
	padding:  40px 20px 40px 150px;
}
.section-main{
	display: inline-block;
	width: 25%;
	margin: 10px 30px 40px 30px;

}
footer{
	background-color: #6fa8dc;
	border: 2px solid black;
	text-align: center;
	font-weight: bold;
	color: white;
	padding: 5px;
}
a{
	color: #397dc3;
	font-size: large;
	font-weight: bolder;
}
.scroll-to-top{
	position: fixed;
  	top: 600px;
  	left: 1300px;
  	border: 2px solid black;
  	border-radius: 5px;
  	width: 150px;
}
.scroll-to-top img{
	display:inline-block;
	width: 25%
}
.scroll-to-top div{
	display: inline-block;
}

.scroll-to-top a{
	color: black;
	text-decoration: none;
	font-weight: normal;
	font-size: large;
}
/*#7499c8*/